@{
    ViewBag.Title = "Index";
}

<h1 class="titlu">Afisare articole</h1>

@if (ViewBag.Message != null)
{
    <h2 class="alert-secondary p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn search" type="submit">Search</button>
    </div>
</form>

<br />

@foreach (CrowdKnowledgeContribution.Models.Article article in ViewBag.Articles)
{
    <div class="card">

        @Html.Partial("ArticleInfo", article )

        <a class="btn btn-outline-primary m-2" href="/Articles/Show/@article.Id"><i class="bi bi-eyeglasses"></i>Afisare articol</a>

    </div>

    <br />
    <br />
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
